.SettingBar{
	top: 0;
	display: block;
	height: 40px;
	width: 100;
	background-color: red;
}

button, input{
	width: 40px;
	height: 40px;
	margin-left: 20px;
	background-position: center center;
	background-repeat: no-repeat;
}

.ButtonExit{
	background-image: url("../images/button-exit.png");
	right: 0;
}

.ButtonSave{
	background-image: url("../images/button-save.png");
}


.ToolBar{
	top: 40;
	height: 40px;
	width: 100;
	background-color: grey;
}

.ButtonPen{
	background-image: url("../images/pen.png");
}

.ButtonRect{
	background-image: url("../images/rectangle.png");
}

.ButtonInputTxt{
	background-image: url("../images/textInput.png");
	width: 150px;
}

.ButtonEraser{
	background-image: url("../images/eraser.png");
}

.ButtonClear{
	background-image: url("../images/clear.png");
}

.MyCanvas{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
canvas{
	border: 1px solid;
}