html{
  font: 25px "Century Gothic", Futura, sans-serif;
}

body{
	background: url("../images/фон02.jpg");

    width: 100%;
    min-width: 1024px;
    height: 100%;
    min-height: 720px;
}

.ToolBar{
	top: 40px;
	height: 48px;
	width: 100%;
	background-color:  #530FAD	;

}

button,input{
	background-size: contain;
	background-color: #530FAD;
	vertical-align: bottom;
	width: 38px;
	height: 38px;
	margin-left: 20px;
	background-position: center center;
  background-repeat: no-repeat;
	border: none;
}
.textInput{
	background-color: white;
	border: 1px solid;
	width: 180px;
	height: 20px;
}


.ButtonStick{
	background-image: url("../images/стрелка.png");
}

.ButtonCircle{
	background-image: url("../images/круг01.png");
}

.ButtonPen{
	background-image: url("../images/ручка.png");

}

.ButtonRect{
	background-image: url("../images/квадрат.png");
}

.ButtonInputTxt{
	background-image: url("../images/а.png");

}

.ButtonEraser{
	background-image: url("../images/стирашка.png");
}

.ButtonClear{
	background-image: url("../images/ведро.png");

	width: 45px;
}
.ButtonStoke{
background-color: white;
}



.MyCanvas{
	max-height: 1124px;
	min-height: 640px;
	display: flex;
	justify-content: center;
	align-items: center;

}
canvas{
	border: 1px solid;
	background: white;
}